<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav class ="white" role="navigation">
		<div class="nav-wrapper">
			<a id="logo-container" href="/index" class="brand-logo" >DIGSBK9ANIMALRESCUE</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="/index">About</a>
				</li>
				<li>
					 <a href="/adopt">Adopt</a>
				</li>
				<li>
					 <a href="/boardMembers">Board Members</a>
				</li>
				<li>
					 <a href="/programs">Programs</a>
				</li>
			</ul>
			<ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
				<li>
					<a href="/index">About</a>
				</li>
				<li>
					 <a href="/adopt">Adopt</a>
				</li>
				<li>
					 <a href="/boardMembers">Board Members</a>
				</li>
				<li>
					 <a href="/programs">Programs</a>
				</li>
			</ul>
		</div>
	</nav>
<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<h1> DIGSB K9 ANIMAL RESCUE </h1>
		</div>
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each dog_data}}
			  	{{#unless this.unavailable}}
				<div class="col-xs-9 text-center">
					<pre>{{this.id}}. {{this.dog_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-xs-3 text-center">
					<form method="POST" action="/dogs/update?_method=PUT" class="button-size">
						<input input type="hidden" type="text" name="dog_id" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">unavailable</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each dog_data}}
			  	{{#if this.unavailable}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.dog_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center enter_section">
			<form action="/dogs/create" method="POST">
				<input type="text" class="form-control" name="dog_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter Dog info.</p>
		</div>
	</div>
</div>



<footer class="page-footer">
      <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Our Goal</h5>
                <p class="grey-text text-lighten-4">Making the world a Better Place</p>
              </div>
              <div class="col l3 s12">
                <h5 class="white-text">Contact</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">email</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Bryant Sands © 2017 Copyright
            </div>
          </div>
        </footer>
		
</body>
</html>